<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../css/semantic.min.css">
    <title>SQL Demo</title>
</head>
<body class="row g-3" style="margin: 1% 1% auto 1%;">
    <fieldset>
        {{#each result}}
        <legend>Form</legend>
        <form action="/edit/{{this.id}}" method="POST">
        {{!-- Name --}}
            <label class="ui label" for="Name">Name</label>
            <div class="ui input">
                <input type="text" name="name" id="name" value="{{{this.name}}}" required>
            </div>

        {{!-- Email --}}
            <label class="ui label" for="Email">Email</label>
            <div class="ui input">
                <input type="email" name="email" id="email" value="{{this.email}}" required>
            </div>
    
        {{!-- Password --}}
            <label class="ui label" for="Password">Password</label>
            <div class="ui input">
                <input type="password" name="password" id="password" value="{{{this.password}}}" required>
            </div>

        {{!-- Confirm Password --}}
            <label class="ui label" for="confpassword">Confirm Password</label>
            <div class="ui input">
                <input type="password" name="confpassword" id="confpassword" placeholder="Enter confirm password" required>
            </div><br><br>

        {{!-- Hobby --}}
            <label class="ui label" for="hobby">Hobby</label>
            <select name="hobby" id="hobby">
                <option value="Cricket">Cricket</option>
                <option value="Football">Football</option>
                <option value="Coding">Coding</option>
            </select><br><br>

        {{!-- Date of Birth --}}
            <label class="ui label" for="dob">Date of Birth</label>
            <div class="ui input">
                <input type="date" name="dob" id="dob" required>
            </div><br><br>

        {{!-- Gender --}}
            <div class="ui form">
                <div class="inline fields">
                    <label class="ui label">Gender</label>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="gen-m" type="radio" name="gender" value="M">
                            <label>Male</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="gen-f" type="radio" name="gender" value="F">
                            <label>Female</label>
                        </div>
                    </div>
                </div>
            </div><br>

        {{!-- Status --}}
            <label class="ui label">Status</label>
            <div class="ui checkbox">
                <input id="activestatus" type="checkbox" name="status" value="1">
                <label>Active</label>
            </div>

            {{#if pass}}
                <p>Password doesn't match</p>
            {{/if}}

            <div style="margin: auto auto auto 80%;">
                <button class="ui button" type="reset">CLEAR</button>
                <button class="ui button" type="submit">UPDATE</button>
            </div>
        </form>
        
    </fieldset>
    <script>
        let setHobby = document.getElementById('hobby');
        let male = document.getElementById('gen-m');
        let female = document.getElementById('gen-f')
        let date = document.getElementById('dob');
        let status = document.getElementById('activestatus');

        hobby.value = '{{this.hobby}}';

        if("{{this.gender}}" === 'M') {
            male.checked = true;
        } else {
            female.checked = true;
        }

        if({{this.activestatus}}) {
            status.checked = true;
        } else {
            status.checked = false;
        }
        
        

    </script>
    {{/each}}
</body>
</html>